<p id="notice"></p>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%= render 'list', book: @book, user: @user %>
            </div>

            <div class="col-md-8 offset-md-1">
                <h1>Users</h1>
                    <table class="table table-hover table-inverse">
                        <thead>
                            <tr>
                                <th>image</th>
                                <th>name</th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>

                        <tboby>
                            <% @users.each do |user| %>
                                <tr>
                                    <td><%= image_tag user.get_profile_image(100,100) %></td>
                                    <td><%= user.name %></td>
                                    <td><%= link_to "Show", user_path(user.id) %></td>
                                </tr>
                            <% end %>
                        </tboby>
                    </table>
            </div>
        </div>
    </div>